
    <div class="row text-center  reservation_resultat">
        <b>nom :</b> {{v.user.nom}} 
        <br>
        <b>prenom :</b> {{v.user.prenom}} 
        <br>
        <b>adresse :</b> {{v.adresse}}
        <br>
        <b>telephone :</b>0{{v.telephone}}
        <br> 
        <b>nombre de personnes :</b> {{v.nombrePersonnes}}
        <br>
        <b>type de voyage :</b> {{v.typeVoyage}}
        <br>
    </div>
