{% extends 'base.html.twig' %}

{% block title %}
	Contact
{% endblock %}

{% block body %}
    <h1 class="text-center">Contact</h1>
	    <div class="container contact-size">
        {{ form_start(form) }}
            <div class="row mt-3">
                <div class="col-md-6">
                    {{form_row(form.nom)}}
                </div>
                <div class="col-md-6">
                    {{form_row(form.prenom)}}
                </div>
            </div>
            <div class="row mt-3">  
                {{form_row(form.email)}}
            </div>  
            <div class="row mt-3">  
                {{form_row(form.sujet)}}
            </div>  
            <div class="row mt-3">  
                {{form_row(form.message)}}
            </div>  
            <div class="row mt-3">  
                {{form_row(form.submit)}}
            </div>  
        {{ form_end(form) }}
    </div>
{% endblock %}
